.maindivcls{
    padding-top: 30px;
}
.aboutmecls{
    font-size: 50px;
    font-weight: bold;
    color: #000;
}
p,li{
    font-size: 20px;
    color:#666666;
}
.paddingcls{
    margin-top: 1%;
}
.marginbottoncls{
    margin-bottom: 2%;
}
@media only screen and (max-width: 500px) {
    .maindivcls{
        padding-top: 0px;
    }
    .aboutmecls {
        font-size: 35px;
    }
    p,li{
        font-size: 14px;
    }
}