<div class="container maindivcls marginbottoncls">
    <div class="row">
      <div class="col-sm-5">
          <h1 class="aboutmecls">about me</h1>
          <p>Hi, I'm Ayush.</p>
          <p>I develop innovative end to end, rich user interactive applications.</p>
          <p>I build web and mobile applications.</p>
      </div>
      <div class="col-sm-7">
          <img src="./assets/images/AyushImage.JPG" class="img-responsive">
      </div>
    </div>
    <hr>
</div>
<div class="container marginbottoncls">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="aboutmecls">skills</h1>
            <p> Design in the browser with HTML(5), CSS(3) and JavaScript.</p>
            <p> Hands-on experience with Front-end frameworks Angular and Ext JS. </p>
            <p> Love coding things from scratch. </p>
        </div>
    </div>
    <hr>
</div>

<div class="container marginbottoncls">
      <div class="row">
        <div class="col-md-12">
            <h1 class="aboutmecls" >experience</h1>
            <p>I am currently working at 
              <a href="https://www.intellectseec.com/" target="_blank">Intellect Design Arena Ltd.</a> as Full Stack Developer (June 2015 to Present).</p>
            <p><strong>Domain:</strong> Banking and Insurance</p>
            <p><strong>Distributed Solutions - DS (An Insurance Product):</strong><p>
            <p> Distributed Solution is a comprehensive portfolio of solutions for the Insurance
                Companies, it provides solution for its Insurance Agents to perform various 
                operations like Pipeline Management, Needs Analysis, Quotes and Illustrations,
                e-App, Direct to customer Application etc.</p>
        </div>
      </div>
</div>
 
  <div class="container marginbottoncls">
      <div class="row">
        <div class="col-md-12">
            <h1 class="aboutmecls">roles & responsibilities</h1>
            <ul>
              <li> Prepare functional design documents based on the requirements given by the clients.</li>
              <li> Researching new ideas and implementing them to make the existing Product better for user experience.</li>
              <li> Prepare use-cases,user-stories and get approval from the client and coordinate with developers to 
                   successfully implement the requirements.</li>
              <li> Requirement analysis and identifying any requirement inconsistencies.</li> 
              <li> Identify the approach for verifying the correct functionality of the system and develop a test plan.</li>
              <li> Designing and developing custom UI Component libraries in Ext JS 6.</li>   
              <li> Developing UI screens with functionality.</li>
              <li> Created prototypes for Customer service mobile application and enhanced existing designs to incorporate localisation.</li>
              <li> Solved cross-browser issues in web.</li>
              <li> Making the application WCAG Level A & AA Compliant.</li>
              <li> Use JIRA tool to log all the user stories and keep track of them till they get completed.</li>    
              
            </ul>    
        </div>
      </div>
      <hr>
  </div>

