<div class="container maindivcls marginbottoncls">
  <div class="row">
    <div class="col-md-5">
      <h1 class="contactmecls">contact me</h1>
      <ul class="social-apps">
        <li class="paddingbottomcls">
          <a href="https://www.facebook.com/ayushverma512" target="_blank" class="facebook">  
          <img src="./assets/images/fb_icon.png" class="img-circle"> Like me on facebook
          </a>
        </li>
        <li class="paddingbottomcls">
            <a href="https://twitter.com/_ayushv" target="_blank" class="twitter">  
            <img src="./assets/images/twitter.jpg" class="img-circle">   Follow me on twitter
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/ayush-verma/" target="_blank" class="linkedin">  
            <img src="./assets/images/LinkedIn.png" class="img-circle">  Connect on LinkedIn
            </a>
        </li>
      </ul>
    </div>
    <div class="col-md-7">
   </div>
  </div>
  <hr>
</div>

<div class="container marginbottoncls">
  <div class="row">
    <div class="col-md-12">
      <h2>Send me an email</h2>
    </div>
    <div>
      <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="name">Your Name:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Your Email:</label>
              <input type="email" class="form-control">
            </div>
        </form>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="meassage">Your message:</label>
              <textarea rows="5" class="form-control"></textarea>
          </div>
      </div>
      
      <button type="button" class="btn sendemailbtncls" >Send email</button>
    </div>
        
  
    
     
  </div>

</div>