p{
    font-size: 20px;
    color:#666666;
}
.maindivcls{
    height: calc(100vh - 133px);
    padding-top: 30px;
}
.marginbottoncls{
    margin-bottom: 4%;
}
.gallerycls{
    font-size: 50px;
    font-weight: bold;
    color: #000;
}
.carousel {
    width: 100%;
}
.carousel-inner img{
    width: 500px;
    margin: 0 auto;
}
.carousel-indicators li{
    margin: 5px;
    bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .maindivcls{
        height: calc(100vh - 92px);
        padding-top: 0px;
    }
    .gallerycls {
        font-size: 35px;
    }
    p {
        font-size: 14px;
    }
    .maindivcls{
        margin-left: 0% !important;
        margin-top: 0%;
    }
    .carousel{
        width: 100% !important;
        margin: 0% !important;
    }
}

